---
layout: default
title: Home
css_hook: index
---

{% content home.md %}
<div class="post_list-header">
  <h2 class="post_list-title">Recent Posts</h2>
</div>
<ul class="post-list">
  {% for post in site.posts %}
  <li class="post-list-item">
    <h4><a class="underline-reveal" href="{{ post.url }}">{{ post.title }}</a></h4>
    <p>{{ post.excerpt }}</p>
  </li>
  {% endfor %}
</ul>
<div class="form-description">
  <p>I write a weekly newsletter called <b>Find Your Mind.</b> </br></br>Fuel for your inquiry into the intersection of meditation, technology, and living.</p>
</div>
{% include form.html %}
