<div class="about-holder holder{% unless page.css_hook == 'about' %} hidden{% endunless %}">
  <header class="header">
    <h1>Info about {{ site.title }}</h1>
  </header>

  <article class="content">    
    {% content about.md %}
    
    <nav>
      <ul class="navigation_secondary">
        <li><a href="/sign-up/" class="follow" title="{{ site.title }} Newsletter" data-page="sign-up" data-page-title="Stay up-to-date">Newsletter</a></li>
        <li><a href="/contact/" class="follow" title="Contact {{ site.title }}" data-page="contact" data-page-title="Contact">Contact</a></li>
      </ul>
    </nav>

  </article>
</div>
