{% comment %}
use this include for subscirption form
{% endcomment %}

<div class="form-wrapper">

  <p>I write a weekly newsletter called <b>Finding Your Mind.</b> </br></br>The newsletter is a great place to fuel your interest in the confluence of meditation, culture, and living.</p>

  <form action="https://buttondown.email/api/emails/embed-subscribe/petermcewen" method="post" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/petermcewen', 'popupwindow')" class="embeddable-buttondown-form">

    <div class="cursor">

      <input type="email" name="email" id="mce-EMAIL" placeholder="Your email..." class="required email">

      <i></i>

    </div>

    <button type="submit">Join now</button>

  </form>


</div>
