{% comment %}
use this include for subscirption form
{% endcomment %}

<div class="form-wrapper">

  <h3>I write a weekly newsletter called the Sunday Dispatches where I share articles about working and living online with 35k subscribers&mdash;</h3>

  <form action="https://buttondown.email/api/emails/embed-subscribe/petermcewen" method="post" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/petermcewen', 'popupwindow')" class="embeddable-buttondown-form">

    <div class="cursor">

      <input type="email" name="email" id="mce-EMAIL" placeholder="Your email..." class="required email">

      <i></i>

    </div>

    <button type="submit">Join now</button>

  </form>


</div>
