<div class="footer">
  <nav class="nav">
  <ul>
    {% if page.css_hook != 'index' %}
      <li>
        <a href="/">Home</a>
      </li>
    {% endif%}
    <li>
      <a class="underline-reveal" href="mailto:peter@petermcewen.com?subject=Hej, Peter!">Contact</a>
    </li>
    <li>
      <a class="underline-reveal" href="https://www.instagram.com/petermcewen/">Instagram</a>
    </li>
    {% if page.css_hook != 'archive' %}
    <li>
      <a class="underline-reveal" href="/archive">Archive</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
