<form id="sign_up_form" action="{{ site.mailchimp_url }}" method="POST">
  <p class="error-message" style="display:none"></p>
  <p class="clear">
    <label for="email">Your first name:</label>
    <input id="first_name" type="text" placeholder="Your first name" name="FNAME" data-validates="presence" />
  </p>
  <p class="clear">
    <label for="last name">Your last name:</label>
    <input id="last_name" type="text" placeholder="Your last name" name="LNAME" data-validates="presence" />
  </p>
  <p class="clear">
    <label for="email">Your email:</label>
    <input id="email" type="email" placeholder="Your email address" name="EMAIL" data-validates="presence email" />
  </p>
  <p class="clear">
    <a href="#send" class="button reverse submit sign-up-submit">Submit form</a>
  </p>
  <input type="submit" value="Send" style="display:none">
</form>
