// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ color defaults

$white:           #fff;
$black:           rgba(46, 46, 46, 0.9);
$grey:            #f5f5f5;
$darkgrey:        rgba(229, 229, 229, 1);
$red:             rgba(255, 72, 72, 0.87);
$blue:            #0846b9;
$sky:             rgba(0, 190, 255, 0.5);
$green:           rgba(118, 237, 55, 0.85);

// Link Colors

$green:           rgba(118, 237, 55, 0.85);
$darkgreen:       rgba(64, 128, 30, 0.65);
$baseLine:        rgba(255, 72, 72, 0.87);
$activeColor:     rgba(46, 46, 46, 0.9);
