// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ color defaults

$white:           #fff;
$black:           #000;
$offWhite:        #f8f8f8;
$offBlack:        #1a1a1a;
$grey:            #979797;
$darkGrey:        #4a4a4a;

$green:           #00ffb0;
$red:             #ff364f;
