// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ color defaults

$white:           #fff;
$textcolor:       rgba(0, 0, 0, 0.77);
$bggrey:          rgba(245, 245, 245, 1);
$grey:            rgba(229, 229, 229, 1);
$darkgrey:        rgba(81, 81, 80, 1);
$black:           rgba(46, 46, 46, 1);
$red:             rgba(255, 72, 72, 0.85);
$blue:            rgba(8, 70, 185, 0.9);
$sky:             rgba(0, 190, 255, 0.85);
$green:           rgba(118, 237, 55, 0.85);
$pink:            rgba(246, 117, 153, 1);

// Link Colors

$green:           rgba(118, 237, 55, 0.85);
$darkgreen:       rgba(64, 128, 30, 0.85);
$baseLine:        rgba(255, 72, 72, 0.85);
$activeColor:     rgba(46, 46, 46, 0.9);
