// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ controls & form standards

// reset some things
#{$all-text-inputs},
textarea,
#{$all-buttons} {
  outline: none;
  border: 0;
}

// for Firefox
a:focus {
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 $black;
}

input::-moz-focus-inner {
  border: 0;
}
// END for Firefox

// @include placeholder-text($black);

#{$all-text-inputs},
#{$all-buttons},
textarea,
select {
  @include reset-device-styling;
}

#{$all-text-inputs},
textarea,
select {
  width: 100%;
  font-family: $body;
  @include type-normal;
  color: $black;
  font-weight: 400;
}

#{$all-text-inputs},
textarea {
  padding: em(10);
  background-color: $white;
  transition: all 100ms ease-in-out;
  border: 1pt solid $grey;

  &:focus {
    border-color: $black;
  }
}

// labels
label {
  position: relative;

  @include hover {
    cursor: pointer;
  }
}

// textarea
textarea {
  width: 100%;
}

input[type="submit"] {
  @include type-normal;
  font-family: $body;
  font-weight: 400;
}

@mixin form-error {
  color: $white;
  background-color: $red;
  border-color: $red;
}

form {
  .error-message {
    color: $red;
    line-height: 135%;
  }

  // error handling
  .field_with_errors {
    #{$all-text-inputs},
    textarea {
      @include form-error;
    }
  }

  .fieldWithErrors {
    display: inline;
    @include form-error;
  }

  #{$all-text-inputs},
  textarea {
    &.error {
      @include form-error;
    }
  }
}
