////Jarvis style

:root {
  --w: #fff;
  --l: #f5f5f5;
  --m: #949494;
  --d: #111;
  --h: #f9415d;
  --p: 10px;
  --x: ease 0.4s;
}

@keyframes blinky {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/////////////

.form-wrapper {
  display: block;
  padding: 4rem 10px 4rem 10px;
}

.form-wrapper form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: calc(var(--p) * 3) 0;
}

.cursor {
  position: relative;
}

.cursor i {
  position: absolute;
  width: 4px;
  height: calc(var(--p) * 3);
  background: var(--m);
  left: 10px;
  top: 10px;
  animation-name: blinky;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  opacity: 1;
}

button {
  background: $red;
  color: var(--l);
  transition: background var(--x);
  border: 0;
}

button:hover {
  background: var(--h);
}

button, input {
  background: var(--w);
  width: 100%;
  padding: calc(var(--p)) calc(var(--p) * 2);
  cursor: pointer;
}

input[type=submit] {
  appearance: button;
  cursor: pointer;
}

form input[type=email] {
  font-size: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
}

.form-wrapper form input[type=submit] {
  color: $red;
  border-radius: 5px;
  padding: 0 1rem;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: block;
  background-color: #fff;
  transition: 0.18s ease-in-out;
}

.form-wrapper h3 {
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 10px;
}

.form-wrapper form input {
  border: 1px;
  border-radius: 0;
  width: 100%;
  font-weight: 300;
}

input:required {
  box-shadow: none;
}
