////Jarvis style

:root {
  --w: #fff;
  --l: #f5f5f5;
  --m: #949494;
  --d: rgba(46, 46, 46, 0.9);
  --h: rgba(255, 72, 72, 0.87);
  --p: 10px;
  --x: ease 0.4s;
}

@keyframes blinky {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/////////////

.form-wrapper {
  display: block;
  padding: 4rem 10px 4rem 10px;
}

.form-wrapper form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 30px 0;
}

.form-wrapper h3 {
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 10px;
}

.cursor {
  position: relative;
}

.cursor i {
  position: absolute;
  width: 4px;
  height: calc(var(--p) * 3);
  background: #949494;
  left: 10px;
  top: 10px;
  animation-name: blinky;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  opacity: 1;
}

button {
  border: 0;
  font-family: FoundersGrotMono-Regular, sans-serif;
  font-size: 1rem;
  background: rgba(118, 237, 55, 0.85);
  color: var(--l);
  transition: background var(--x);
  width: 100%;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

input {
  background: var(--w);
  width: 100%;
  font-family: FoundersGrotMono-Regular, sans-serif;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

button:active {
  background: var(--m);
}

button:hover {
  background: $red;
}

form input[type=email] {
  font-size: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  width: 92%;
}

input:required {
  box-shadow: none;
}
