.form-wrapper {
  display: block;
  padding: 4rem 10px 4rem 10px;
}

.form-wrapper h3 {
  text-align: center;
  padding: 5px 10px 10px 5px;
  margin: 5px 10px 10px 5px;
}

.form-wrapper form {
  position: relative;
  width: 700px;
  margin: 0 auto;
  max-width: 100%;
}

.form-wrapper form .input-wrapper {
  position: relative;
}

.form-wrapper form input {
  border: 1px;
  border-radius: 0;
  width: 100%;
  font-weight: 300;
}

.form-wrapper form input[type=email] {
  font-size: 2rem;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
}

input:required {
  box-shadow: none;
}

.form-wrapper form .submit-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 80%;
  padding: 0.5rem;
}

input[type=submit] {
  appearance: button;
  cursor: pointer;
}

.form-wrapper form input[type=submit] {
  color: $red;
  border-radius: 5px;
  padding: 0 1rem;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: block;
  background-color: #fff;
  transition: 0.18s ease-in-out;
}
