.outer-container {
  .content-container {
    .header {
      display: flex;
      width: 100%;
      margin-bottom: 60px;
      margin-top: 12px;

      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
        margin-top: 0;
        padding-top: 1px;
        margin-bottom: 18px;

        svg {
          path {
            fill: $black;

            &.cls-1 {
              fill: $white;
            }
          }
        }
      }
    }
  }
}

svg:hover {
  filter: invert(0.3) sepia(1) saturate(20) hue-rotate(360deg) brightness(1);
  transition: 1.1s;

  &.cls-1 {
    filter: sepia(10%) grayscale(10%) brightness(0.01);
  }
}
