
.outer-container {
  .content-container {
    .header {
      display: block;
      width: 6%;
      margin-bottom: 20px;
      margin-top: 10px;

      svg {
        path {
          fill: $black;

          &.cls-1 {
            fill: $white;
          }
        }
      }
    }
  }
}

svg:hover {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(234deg) brightness(0.71);
  transition: 1.2s;

  &.cls-1 {
    filter: sepia(10%) grayscale(10%) brightness(0.01);
  }
}
