
.outer-container {
  .content-container {
    .header {
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      margin-top: 10px;

      svg {
        path {
          fill: $black;

          &.cls-1 {
            fill: $white;
          }
        }
      }
    }
  }
}

svg:hover {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(234deg) brightness(0.71);
  transition: 1.2s;

  &.cls-1 {
    filter: sepia(10%) grayscale(10%) brightness(0.01);
  }
}

.nav_top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center;
  width: 100%;

  .bunny {
    width: 6%;
  }
}

.nav_top ul {
  font-family: FoundersGrotMono-Medium, $font-stack-peter, sans-serif;
  padding: 8px 0 0 0;
  margin: 0 0 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.nav_top li {
  line-height: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.nav_top a {
  font-size: 0.95rem;
  text-decoration: none;
  color: $black;
  display: flex;
  transition: 1.2s;
}

.nav_top a:hover {
  background-color: $grey;
  color: $red;
}

.nav_top a.active {
  color: $black;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav_top li {
    width: 90px;
    border-bottom: none;
    height: 40px;
    margin-right: 20px;
    line-height: 40px;
    display: inline-block;
  }
}
