/* Container CSS from GB ------------ */

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  @include type-normal;
  color: $black;
  background-color: $bggrey;
  font-family: $founders;
  font-weight: 400;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.outer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1 0 auto;

  .content-container {
    display: block;
    width: 100%;
    max-width: 600px;
    max-height: inherit;
    background-color: none;
    padding: 0 10px 10px 10px;

    @media only screen and (max-width: 600px) {
      padding-top: 1px;

      .article {
        background-color: $white;
      }
    }
  }
}

.index {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

.archive {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

.about {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

.contact {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

.subscribe {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

img, svg {
  display: block;
  width: 100%;
}
