// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ layout defaults

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  background-color: $white;
}

img,
svg {
  display: block;
  width: 100%;
}

#content_container {
  position: relative;
  z-index: 2;
}

// clearing setup
hr.clear {
  @include clearfix;
}
