.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: FoundersGrot-Medium, $font-stack-peter, sans-serif;
}

.nav li {
  line-height: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.nav a {
  font-size: 0.95rem;
  text-decoration: none;
  color: $black;
  display: block;
  transition: 1.2s;
}

.nav a:hover {
  color: $red;
}

.nav a.active {
  color: $black;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 90px;
    border-bottom: none;
    height: 40px;
    margin-right: 20px;
    line-height: 40px;
    display: inline-block;
  }
}
///////////
