.nav_top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  width: 100%;

  .bunny {
    width: 6%;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
      width: 14%;
    }
  }
}

.nav_top ul {
  font-family: FoundersGrot-Regular, $founders, sans-serif;
  padding: 8px 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

.nav_top li {
  line-height: 40px;
  height: 40px;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  margin: 0 10px 0 10px;

  @media only screen and (max-width: 600px) {
    margin: 0 6px 0 6px;
  }
}

.nav_top a {
  font-size: 1rem;
  text-decoration: none;
  border: none;
  box-shadow: none;
  color: $black;
  display: flex;
  transition: 1.2s;
}

.nav_top a:hover {
  color: $green;
}

.nav_top a.active {
  color: $black;
  cursor: default;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .nav_top li {
    width: 60px;
    height: 40px;
    margin: 0 6px 0 10px;
    line-height: 40px;
    border-bottom: none;
    display: inline-block;
  }
}

////FOOTER NAVIGATION

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: FoundersGrot-Medium, $founders, sans-serif;
}

.nav li {
  align-items: flex-start;
  line-height: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.nav a {
  font-size: 0.95rem;
  text-decoration: none;
  border: none;
  box-shadow: none;
  color: $black;
  display: block;
  transition: 1s;
}

.nav a:hover {
  color: $green;
}

.nav a.active {
  color: $black;
  cursor: default;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .footer {
    min-height: calc(20% - 10px);
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .nav li {
    width: 100%;
    border-bottom: none;
    height: 30px;
    line-height: 40px;
  }
}

/* Underline Reveal */

.underline-reveal {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: $green;
  height: 3px;
  transform: translateY(4px);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  transform: translateY(0);
}
