// .post {
//   max-width: 1500px;
//   margin: auto;
//   padding: 20px;
//   //background-color: $black;
// }

// .post p {
//   @include type-normal(true);
//   font-family: $font-stack-serif;
//   max-width: 33em;
//   color: $black;
//   line-height: 1.5;

//   &:last-child {
//     margin-bottom: 0;
//     -webkit-font-smoothing: subpixel-antialiased;
//   }

//   em, i {
//     font-style: italic;
//     letter-spacing: -0.04em;
//     -webkit-font-smoothing: subpixel-antialiased;
//   }
// }

// .post b {
//   font-family: TiemposText-Semibold, serif;
//   font-weight: 400;
//   letter-spacing: 0.9rem;
// }

// .post b i {
//   font-family: TiemposText-SemiboldItalic, serif;
//   -webkit-font-smoothing: subpixel-antialiased;
//   letter-spacing: 0.9rem;
// }

// .post h1 {
//   @include type-big(true);
//   font-family: FoundersGrot-Medium, sans-serif;
//   font-weight: 400;
//   -webkit-font-smoothing: subpixel-antialiased;
// }

.post-list-item {
  margin-top: 20px;
  border-bottom: 5px solid $darkgrey;
  padding-bottom: 10px;
}

.post {
  max-width: 1500px;
  margin: auto;
  padding: 20px;

  h1 {
    @include type-big(true);
    font-family: TiemposText-Semibold, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  p {
    @include type-normal(true);
    font-family: $font-stack-serif;
    color: $black;
    line-height: 1.5;
    letter-spacing: 0.03rem;

    &:last-child {
      margin-bottom: 0;
      -webkit-font-smoothing: subpixel-antialiased;
    }

    strong, b {
      // font-family: FoundersGrot-Medium, sans-serif;
      font-family: $font-stack-serif-bold;
      font-weight: 600;
      letter-spacing: 0.03rem;
    }

    em, i {
      font-family: $font-stack-serif-italic;
      font-style: normal;
      letter-spacing: 0.03rem;
    }

    strong em, b i, em strong, i b {
      font-family: $font-stack-serif-italic-bold;
      font-style: normal;
      letter-spacing: 0.03rem;
    }
  }
}
