.post-list-item {
  margin-top: 20px;
  border-bottom: 5px solid $darkgrey;
  padding-bottom: 10px;
}

.post_line {
  border-top: 3px solid $black;
  margin: 10px 0 10px 0;
}

.post_title {
  display: flex;
  align-items: baseline;
}

.post-list-header {
  border-top: 5px solid $red;
  height: 0;
}

.author {
  display: flex;
  width: 100%;
  align-items: baseline;
  font-family: FoundersGrotMono-regular, $font-stack-serif-italic, sans-serif;
  font-size: 0.8rem;
  margin: 5px 0 15px 0;
}

.post {
  max-width: 1500px;
  margin: auto;
  padding: 20px;

  h1 {
    @include type-big(true);
    font-size: 2.4rem;
    font-family: FoundersGrot-Bold, $font-stack-peter, sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 10px 0 15px 0;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .tags {
    font-family: FoundersGrotCond-Medium, $font-stack-peter, sans-serif;
    font-size: 1rem;
    color: $black;
    margin: 0;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }

  .date {
    font-family: $font-stack-serif, serif;
    font-size: 0.75rem;
    letter-spacing: 0.09rem;
    margin-left: 5px;
    text-transform: uppercase;
  }

  p {
    @include type-normal(true);
    font-family: UntitledSerif-Regular, $font-stack-serif, serif;
    color: $black;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;

    @media screen and (min-width: 600px) {
      font-size: 18px;
      line-height: 1.6rem;

      &:last-child {
        margin-bottom: 0;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }

    b,
    strong {
      font-family: $font-stack-serif-bold;
      font-weight: 600;
      letter-spacing: 0.02rem;
    }

    em,
    i {
      font-family: $font-stack-serif-italic;
      font-style: normal;
      letter-spacing: 0.02rem;
    }

    b i,
    em strong,
    i b,
    strong em {
      font-family: $font-stack-serif-italic-bold;
      font-style: normal;
      letter-spacing: 0.02rem;
    }
  }
}
