.post-list-item {
  margin-top: 20px;
  border-bottom: 5px solid $grey;
  padding-bottom: 10px;
}

ul.post-list {
  margin-bottom: 10px;
}

.post_line {
  border-top: 3px solid $grey;
  margin: 10px 0 10px 0;
}

.post_title {
  display: flex;
  align-items: baseline;
  margin: 0;
}

.post-list-header {
  border-top: 5px solid $red;
  height: 0;
}

.author {
  display: flex;
  width: 100%;
  align-items: baseline;
  font-family: FoundersGrotMono-regular, $founders, sans-serif;
  color: $blue;
  font-size: 0.8rem;
  margin: 2px 0 15px 0;
}

.post {
  max-width: 1500px;
  margin: auto;
  padding: 20px;

  h1 {
    @include type-big(true);
    font-family: GT-Alpina-Fine-Regular-Italic, $founders-bold, heldane-display--medium, sans-serif;
    font-weight: 400;
    letter-spacing: 0.07rem;
    text-rendering: optimizeLegibility;
    margin: 5px 0 5px 0;
    -webkit-font-smoothing: subpixel-antialiased;
    font-feature-settings: "kern" 1, "liga" 1;

    a {
      box-shadow: none;
    }
  }

  .tags {
    font-family: FoundersGrotCond-Semibold, $founders, sans-serif;
    font-size: 1rem;
    color: $pink;
    margin: 0;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }

  .date {
    font-family: GT-Alpina-Medium-Italic, serif;
    font-size: 0.7rem;
    letter-spacing: 0.07rem;
    margin: 0 0 0 8px;
    color: $darkgrey;
    text-transform: uppercase;
  }

  blockquote {
    display: block;
    border-left: 5px solid $grey;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;
  }

  blockquote:before {
    color: $blue;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote:after {
    visibility: hidden;
    content: close-quote;
  }

  blockquote p {
    font-family: FoundersGrotMono-regular, $founders, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 1.8rem;
    display: inline;
    hyphens: none;
    color: $black;

    b,
    strong {
      font-family: FoundersGrotMono-Medium, $founders-bold, sans-serif;
      font-weight: 600;
      letter-spacing: 0.02rem;
    }
  }

  figure {
    margin: 20px 0 20px 0;
    display: block;
  }

  figcaption {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    font-family: $alpina-medium, $font-stack-serif-bold, sans-serif;
    color: $black;
    margin-top: 5px;
  }

  figcaption p {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    font-family: $alpina-medium, $font-stack-serif-bold, sans-serif;
    color: $black;
    margin-top: 10px;
  }

  figcaption p a {
    font-family: $alpina-medium, $font-stack-serif-italic-bold, serif;
    font-size: 0.8rem;
    font-style: italic;
    letter-spacing: 0.04rem;
    box-shadow: none;
    color: $red;
    border: none;
  }

  p {
    @include type-normal(true);
    font-family: $alpina-regular, $font-stack-serif, serif;
    color: $textcolor;
    text-rendering: optimizeLegibility;
    font-size: 1.2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;

    @media screen and (max-width: 600px) {
      font-family: $alpina-light, $font-stack-serif, serif;
      font-size: 1.2rem;
      line-height: 1.6rem;

      &:last-child {
        margin-bottom: 0;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }

    b,
    strong {
      font-family: $alpina-medium;
      font-weight: 600;
      letter-spacing: 0.02rem;
    }

    em,
    i {
      font-family: $alpina-light-italic;
      font-style: normal;
    }

    b i,
    em strong,
    i b,
    strong em {
      font-family: $alpina-medium-italic;
      font-style: normal;
    }
  }
}
