// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ typography defaults
$body: $font-stack-peter;

@mixin type-size(
  $size: 12,
  $lineHeight: 1.1,
  $margin: false
) {
  @if $margin {
    margin-top: 0;
    margin-bottom: em($size);
  }
  font-size: em($size);
  line-height: $lineHeight;
}

@mixin link-handler(
  $baseColor: null,
  $hoverColor: null,
  $activeColor: null,
  $baseLine: null,
  $hoverLine: null,
  $activeLine: null
) {
  @if $baseColor { color: $baseColor; }

  @if $baseLine == true {
    text-decoration: underline;
  } @else if $baseLine == false {
    text-decoration: none;
  }

  @include hover {
    @if $hoverColor { color: $hoverColor; }

    @if $hoverLine == true {
      text-decoration: underline;
    } @else if $hoverLine == false {
      text-decoration: none;
    }
  }

  &:active {
    @if $activeColor { color: $activeColor; }

    @if $activeLine == true {
      text-decoration: underline;
    } @else if $activeLine == false {
      text-decoration: none;
    }
  }
}

// specific type styles
@mixin type-big($margin: false) {
  @include type-size(32, 1.25, $margin);
}

@mixin type-medium($margin: false) {
  @include type-size(18, 1.25, $margin);
}

@mixin type-normal($margin: false) {
  @include type-size(16, 1.25, $margin);
}

::selection { // Webkit
  color: $white;
  background: $red;
  text-shadow: none;
}

a {
  @include link-handler($black, $red, $black, false, false, null);

  & strong em, b i, em strong, i b {
    font-family: $font-stack-peter-italic-bold, sans-serif;
    font-style: normal;
    letter-spacing: 0.03rem;
  }
}

h1 {
  @include type-big(true);
  font-family: HeldaneDisplay-Bold, serif;
  font-weight: 400;
  letter-spacing: 1rem;
  -webkit-font-smoothing: subpixel-antialiased;
}

h2 {
  @include type-medium;
  font-family: FoundersGrotMono-Medium, sans-serif;
  color: $black;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0.03rem;
}

h3 {
  @include type-medium;
  font-size: 0.8rem;
  font-family: FoundersGrotMono-Medium, sans-serif;
  color: $blue;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0.03rem;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 55px;
}

li {
  padding-left: 0;
}

/*
  .post-list li::before {
    content: "→";
    position: relative;
    left: -20px;
    color: $black;
  }
*/

h4 {
  @include type-big;
  font-size: 2.4rem;
  font-family: soehne--halbfett, HeldaneDisplay-Bold, serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: $black;
  display: inline;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;

  & a {
    color: $black;
    transition: 1.2s;
    //border-bottom: 0.18rem solid;
    //padding-bottom: 6px;
    //font-style: italic;
    //text-decoration: underline;
    //text-decoration-style: wavy;
    //text-decoration-color: $blue;
  }
}

.line {
  border-top: 1px solid $darkgrey;
}

p {
  @include type-normal(true);
  font-family: HeldaneText-Regular, $font-stack-peter, serif;
  max-width: 38em;
  letter-spacing: 0.03rem;
  color: $black;
  line-height: 1.5;

  @media screen and (min-width: 600px) {
    font-size: 18px;
    line-height: 30px;

    &:last-child {
      margin-bottom: 0;
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }

  em, i {
    font-style: italic;
    font-family: $font-stack-peter-italic, sans-serif;
    letter-spacing: -0.04em;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

strong, b {
  font-family: FoundersGrot-Medium, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

em, i {
  font-style: normal;
}
