// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ typography defaults
$body: $font-stack-peter;
@mixin type-size($size: 12, $lineHeight: 1.1, $margin: false) {
  @if $margin {
    margin-top: 0;
    margin-bottom: em($size);
  }
  font-size: em($size);
  line-height: $lineHeight;
}
@mixin link-handler($baseColor: null, $hoverColor: null, $activeColor: null, $baseLine: null, $hoverLine: null, $activeLine: null) {
  @if $baseColor {
    color: $baseColor;
  }
  @if $baseLine == true {
    text-decoration: underline;
  } @else if $baseLine == false {
    text-decoration: none;
  }
  @include hover {
    @if $hoverColor {
      color: $hoverColor;
    }
    @if $hoverLine == true {
      text-decoration: underline;
    } @else if $hoverLine == false {
      text-decoration: none;
    }
  }

  &:active {
    @if $activeColor {
      color: $activeColor;
    }
    @if $activeLine == true {
      text-decoration: underline;
    } @else if $activeLine == false {
      text-decoration: none;
    }
  }
}
// specific type styles
@mixin type-big($margin: false) {
  @include type-size(32, 1.25, $margin);
}
@mixin type-medium($margin: false) {
  @include type-size(14, 1.25, $margin);
}
@mixin type-normal($margin: false) {
  @include type-size(16, 1.25, $margin);
}

::selection {
  // Webkit
  color: $white;
  background: $red;
  text-shadow: none;
}

a {
  @include link-handler($black, $green, $black, false, false, null);
  transition: 1.3s;
  box-shadow: inset 0 -6px 0 $sky;

  & strong em,
  b i,
  em strong,
  i b {
    font-family: $font-stack-peter-italic-bold, sans-serif;
    font-style: normal;
    letter-spacing: 0.03rem;
  }
}

a:hover {
  box-shadow: inset 0 -0.3em;
}

h1 {
  @include type-big(true);
  font-family: UntitledSerif-Bold, serif;
  font-weight: 400;
  letter-spacing: 1rem;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

h2 {
  @include type-medium;
  font-family: FoundersGrotMono-Medium, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.03rem;
}

.arrow {
  letter-spacing: 0.02rem;
  font-family: FoundersGrotMono-regular, sans-serif;
  color: $green;
  margin: 0 0 0 -10px;
}

h2:before {
  content: "→";
  position: relative;
  left: -10px;
  color: $green;
}

.line {
  margin: 10px 0 15px 0;
  border-top: 1px solid $darkgrey;
}

.post_list-header {
  border-top: 5px solid $darkgrey;
  height: 0;
  margin-top: 10px;
}

.post_list-title {
  font-family: FoundersGrotMono-regular, sans-serif;
  font-size: 1.1em;
  color: $green;
  background: $grey;
  display: table;
  position: relative;
  padding: 0 1em;
  left: -9px;
  top: -0.9em;
  margin: 0 auto;
  margin-left: 0;

  &:before {
    content: ""→"";
    color: $green;
    margin-right: 0.2em;
    position: relative;
    left: -10px;
  }
}

h3 {
  @include type-medium;
  font-size: 0.8rem;
  font-family: FoundersGrotMono-Medium, sans-serif;
  color: $blue;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0.03rem;
  text-rendering: optimizeLegibility;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 55px;
}

li {
  padding-left: 0;
}

h4 {
  @include type-big;
  font-size: 1.6rem;
  font-family: FoundersGrotMono-Medium, $font-stack-peter, sans-serif;
  font-weight: 400;
  color: $black;
  display: inline;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

p {
  @include type-normal(true);
  font-family: UntitledSerif-Regular, $font-stack-peter, serif;
  max-width: 38em;
  color: $black;

  @media screen and (min-width: 600px) {
    font-size: 17px;
    line-height: 1.5em;

    &:last-child {
      margin-bottom: 0;
      -webkit-font-smoothing: subpixel-antialiased;
      text-rendering: optimizeLegibility;
    }
  }

  em,
  i {
    font-style: italic;
    font-family: $font-stack-peter-italic, sans-serif;
    letter-spacing: -0.04em;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

b,
strong {
  font-family: FoundersGrot-Medium, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

em,
i {
  font-style: normal;
}
