<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<div class="outer-container">
  <div class="content-container">
    <body{% if page.css_hook %} class="{{ page.css_hook }}" {% endif %}>
      <div class="header">
        <nav class="nav_top">
          <a class="bunny" href="/">{% include svg/rabbit_1.svg %}</a>
          <ul>
            <li>
              <a class="underline-reveal" href="/about">/about</a>
            </li>
            <li>
              <a class="underline-reveal" href="https://petermcewen.photos">/photo</a>
              <li>
                <a class="underline-reveal" href="/subscribe">/subscribe</a>
              </li>
            </li>
          </ul>
        </nav>
      </div>
      {{ content }}

      <hr class="line">
      {% include navigation.html %}
      {% include bottom.html %}
      </body>
  </div>
</div>

</html>
